<!-- Generated template for the LoyalBadgeComponent component -->
<div class="container">
  <div class="row">
    <div class="profile-header-container">
      <div class="profile-header-img">
        <img class="img-circle" src="{{src}}" style.border-color="{{backgroundColor}}"/>
        <!-- badge -->
        <div *ngIf="displaytext" class="rank-label-container">
          <span class="label label-default rank-label" style.background-color="{{backgroundColor}}" style.color="{{textColor}}">{{text}}</span>
        </div>
      </div>
    </div>
  </div>
</div>