loyal-badge {
    .img-circle {
        border-radius: 50%;
    }

    /**
    * Profile image component
    */
    .profile-header-container{
        margin: 0 auto;
        text-align: center;
    }

    .profile-header-img {
        padding: 10px;
    }

    .profile-header-img > img.img-circle {
        width: 120px;
        height: 120px;
        border: 2px solid;
    }

    .profile-header {
        margin-top: 43px;
    }

    /**
    * Ranking component
    */
    .rank-label-container {
        margin-top: -19px;
        /* z-index: 1000; */
        text-align: center;
    }

    .label.label-default.rank-label {
        background-color: #51D2B7;
        padding: 5px 10px 5px 10px;
        border-radius: 27px;
    }
}
