loyal-badge {
    ion-card {
        margin: 0 5px;
        width: calc(100% - 10px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 4px;

        h2 {
            font-size: larger;
        }
        p {
            font-weight: 100;
            font-size: 1.5rem;
        }
    }
}
