<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo to upload .zip file apps</title>
</head>

<body>
    <form id="uploadForm" enctype="multipart/form-data" method="post">
        <input type="file" name="appFile" accept=".zip" />
        <input type="submit" value="UPLOAD .ZIP APP" name="submit">
    </form>
</body>

</html>