page-point-transfer {
    .transparentBody {
        background: transparent !important;
    }
    .transparent-background {
        background: none transparent !important;
    }
    .qrscanner-area {
        background: url(../../assets/img/scanner.svg) no-repeat center center !important;
        background-size: contain !important;
    }
    .container {
        display: flex;
        /* establish flex container */
        flex-direction: column;
        /* make main axis vertical */
        justify-content: center;
        /* center items vertically, in this case */
        align-items: center;
        /* center items horizontally, in this case */
        height: 650px;
    }
}