page-point-transfer {
    .transparentBody {
        background: transparent !important;
    }
    .no-background {
        background: none !important;
    }
    .qrscanner {
        background: none !important;
        &-area {
            background: url(../../assets/img/scanner.svg) no-repeat center center !important;
            background-size: contain !important;
        }
    }
}