page-badge-list {
    ion-card ion-badge {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    button[ion-fab] {
        overflow: visible;
        position: relative;
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
    .fab {
        contain: layout;
    }
}