<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Points</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="presentBrandDetail()">
            <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
          </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>


<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col col-6 *ngFor="let voucher of vouchers">
                <div *ngIf="voucher" class="card-wrap">
                    <ion-card class="full-card">

                        <ion-grid>
                            <ion-row>
                                <ion-col ion-text text-center padding>
                                    <h1 ion-text color="primary"> {{ voucher.price }} EGP </h1>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col ion-text text-center>
                                    <ion-badge color="google" class="cost-badge"> {{ voucher.points }} Points </ion-badge>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </ion-card>
                </div>

            </ion-col>
        </ion-row>

        <ion-row padding>
            <ion-col>
                <button ion-button full (click)="presentOfferCreate()">Add New Offer</button>
            </ion-col>
        </ion-row>

        <ion-list no-lines>

            <ion-item *ngFor="let feature of features" [attr.track]="feature.name | lowercase">
                <ion-label>{{ feature.name }}</ion-label>
                <ion-checkbox [(ngModel)]="feature.isChecked"></ion-checkbox>
            </ion-item>
        </ion-list>

    </ion-grid>

</ion-content>