<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Offers</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col>
                <!-- <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" > </ion-searchbar> -->
                <ion-searchbar [(ngModel)]="myInput"></ion-searchbar>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12 col-lg-6 col-xl-4 *ngFor="let ft of offers;" class="offer-col">
                <ion-card (click)="presentOfferModal(ft)">
                    <img [src]="ft.img" />
                    <ion-card-content>
                        <ion-card-title>{{ft.reward}}</ion-card-title>
                        <ion-note>Price: </ion-note> {{ft.price}}
                        <p>{{ft.description}}</p>
                    </ion-card-content>
                    <ion-col text-left>
                        <button ion-button clear full default [color]="ft.isActivated == true ? 'favorite' : 'danger'" icon-start (click)="onActivateClicked(ft)">
                            <ion-icon name='flash'></ion-icon>
                            <p *ngIf="!ft.isActivated">Activate</p>
                            <p *ngIf="ft.isActivated">Activated</p>
                        </button>
                        <button *ngIf="ft.isActivated" ion-button clear full color="primary" icon-start>
                            <ion-icon name='text'></ion-icon>
                            Contact
                        </button>
                    </ion-col>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>