page-error {
    .container {
        display: flex;
        /* establish flex container */
        flex-direction: column;
        /* make main axis vertical */
        justify-content: center;
        /* center items vertically, in this case */
        align-items: center;
        /* center items horizontally, in this case */
        height: 650px;
    }
}